#loader {
  width: 100%;
  height: 100%;
  background-color: var(--white-transparency);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: all;
}

.loader {
  border: var(--blue1-border);
  padding: 5rem 2rem;
  background-color: var(--white-color);
  /* Estilos responsive */
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .loader {
    margin-top: -75rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .loader {
    margin-top: -55rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .loader {
    margin-top: -35rem;
  }
}

.loader * {
  background-color: var(--white-color);
}

.loader > img {
  width: 20%;
  background-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader > p {
  font-size: 1.75rem;
  color: var(--blue1-color);
}

.no-scroll {
  overflow: hidden;
}
